.backgroundClear {
  background-image: url(img/clear.png);
  background-size: cover;
  height: 100vh;
}

.basic {
  padding: 1em;
}

.nothing {
  height: 3%;
}

/* 1. 메인 */
.mainSection {
  display: flex;
  justify-content: space-between;
  height: 43%;
}

.leftWeatherBox {
  text-align: center;
  padding: 1em;
  color: white;
  width: 33%;
}

.city {
  font-size: 30px;
}

.date {
  font-size: 50px;
}

.time {
  font-size: 70px;
}

.info {
  font-size: 30px;
}

.buttonBox{
  display: flex;
  flex-direction: column;
}

.rightWeatherBox {
  text-align: left;
  padding: 1em;
  color: white;
  width: 33%;
}

.sun {
  font-size: 25px;
  font-weight: 200;
}

.tempC {
  font-size: 70px;
}

.tempF {
  font-size: 20px;
}

/* 2. 메뉴 */
.menuSection {
  height: 17%;
  display: flex;
}

.menuInfoBox{
  color: white;
  border: 1px solid white;
  margin: 1em;
  width: calc(100% / 7 - 2em);
}

/* 3. 요일별 */
.daySection {
  height: 37%;
  display: flex;
  justify-content: center;
}

.dayWeatherBox{
  background-color: rgba(212, 227, 253, 0.211);
  margin: 0 0.5em;
  width: calc(100% / 6 - 1em);
  color: white;
  text-align: center;
  font-size: 35px;
  font-weight: 200;
}

.weatherIcon {
  width: 100px;
  height: 100px;
}


