.backgroundClear {
  background-image: url(img/clear.png);
  background-size: cover;
  height: 100vh;
}

.basic {
  padding: 1em;
}

.nothing {
  height: 10%;
}

/* 1. 메인 */
.mainSection {
  display: flex;
  justify-content: space-between;
  height: 43%;
}

.leftWeatherBox {
  text-align: center;
  padding: 1em;
  color: white;
  border: 1px solid white;
  width: 33%;
}

.city {
  font-size: 30px;
}

.date {
  font-size: 50px;
}

.time {
  font-size: 70px;
}

.info {
  font-size: 30px;
}

.buttonBox{
  display: flex;
  flex-direction: column;
}

.rightWeatherBox {
  text-align: center;
  padding: 1em;
  color: white;
  border: 1px solid white;
  width: 33%;
}

/* 2. 메뉴 */
.menuSection {
  height: 17%;
  border: 1px solid white;
  display: flex;
}

.menuInfoBox{
  color: white;
  border: 1px solid white;
  margin: 1em;
  width: calc(100% / 7 - 2em);
}

/* 3. 요일별 */
.daySection {
  height: 30%;
  border: 1px solid white;
  display: flex;
}

.dayWeatherBox{
  border: 1px solid white;
  margin: 1em;
  width: calc(100% / 7 - 2em);
}

